In [9]:
import pandas as pd

salarios={"Nombre":["Ringo","John","Paul","Geroge","Yoko"],"Edad":[45,34,42,38,47],"Salario":[12000,14000,13000,11000,10000],"Genero":["M","M","M","M","F"]}
df = pd.DataFrame(salarios)
print(df.head())

   Nombre  Edad  Salario Genero
0   Ringo    45    12000      M
1    John    34    14000      M
2    Paul    42    13000      M
3  Geroge    38    11000      M
4    Yoko    47    10000      F

In [13]:
salario = df["Salario"]
rango = salario.max() - salario.min()
print(f"El rango es {rango}")

El rango es 4000

In [14]:
print(salario.describe())

count        5.00000
mean     12000.00000
std       1581.13883
min      10000.00000
25%      11000.00000
50%      12000.00000
75%      13000.00000
max      14000.00000
Name: Salario, dtype: float64